
 
body{
background-color: yellow;
}
 


.Toto{
	background-color:red;
}


#madivdemerde{
	height: 500px;
	 display: flex;
	 
	 }
#madivdemerde #mefaitpaschier{
	 display: flex;
	 flex-direction:column;
	 justify-content: space-between;
	
}

.myLayoutStyleClass1 .ui-layout-unit-content{
   background: yellow;
}

.myLayoutStyleClass2 .ui-layout-unit-content{
   background: green;
}

.myLayoutStyleClass3 .ui-layout-unit-content{
   background: blue;
}