
 
body{
}
 
#corps{
	min-height: 500px;
	
}


.myLayoutStyleClass1 .ui-layout-unit-content{
   background: yellow;
}

.myLayoutStyleClass2 .ui-layout-unit-content{
   background: green;
}

.myLayoutStyleClass3 .ui-layout-unit-content{
   background: blue;
}